@model IEnumerable<Dinner>
@foreach (var o in Model)
{
    <li id='dinner@(o.Id)' class="awe-li dinner" data-val="@o.Id">
<div class="fr">    
@Html.Partial("deletebtn", new DelBtn { Id = o.Id, IsDeleted = o.IsDeleted, Controller = "Dinner" })
    </div>
    <div class="fl">
        @o.Name</div>
    <div class="fr">
        @o.Chef.FirstName
        @o.Chef.LastName
        @Mui.from
        @o.Chef.Country.Name
        @Mui.is_cooking&nbsp;</div>
        
    <br class="cbt" />
    @foreach (var m in o.Meals)
    {
        <img src='@Url.Content("~/pictures/Meals/s" + (m.Picture ?? "0.jpg"))' class="sthumb" alt='@m.Name' />
    }
    <br class="cbt" />    
    <div class="fl">
        @o.Country.Name,
        @o.Address</div>        
        <div class="fr">
            <button type="button" class="awe-btn" onclick="@(Url.Awe().PopupFormAction()
                                                   .Url(Url.Action("Edit","Home", new{o.Id}))
                                                   .Success("edit").Modal(true)
                                                   .Fullscreen(true))">
                <span class=" ico-edit"></span>
            </button>
        </div>    
    <div class="fr" style="margin-right: 1em;">
       @Mui.Start @o.Start @Mui.End @o.End </div> 
    <br class="cbt" />    
</li>
}
