@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ProDinner ASP.net MVC Awesome Demo Application";
}
<h2>
    Pr0Dinn3r, wh3r3 pr0s e4t
</h2>
<fieldset>
    <legend>@Mui.search_for_a_dinner</legend>
    <div class="si">
        <div>@Mui.Name:</div>
        @(Html.Awe().Autocomplete("DinnerName")
                .Controller<DinnerAutocompleteController>()
                .CssClass("searchtxt")
                .GeneratePropId(false)
                .Parent("searchChefId", "chef")
                .Parent("searchMeals", "meals")
        )
    </div>
    <div class="si">
        <div>@Mui.Chef:</div>
        @Html.Awe().AjaxDropdown("ChefId").Prefix("search")
    </div>
    <div class="si">
        <div>@Mui.Meals:</div>
        <span class="cbt" />
        @(Html.Awe().MultiLookup("Meals")
                .Prefix("search")
                .PopupClass("mealsLookup")
                .Fullscreen(true)
                .ClearButton(true)
                .DragAndDrop(true)
                .ParameterFunc("getMealsPageSize"))</div>
    <div class="si">
        <br />
        <button type="button" class="awe-btn" id="btnSearch" style="margin-top: 4px;">@Mui.Search</button>
    </div>
</fieldset>
<br />
<button type="button" class="awe-btn" onclick="@(Url.Awe().PopupFormAction()
                                            .Url(Url.Action("create"))
                                            .Success("createDinner")
                                            .Fullscreen(true)
                                            .Modal(true))">@Mui.host_a_dinner</button>
<form class="showGrid awe-il">
<button type="submit" class="awe-btn">
    show dinners grid</button>
</form>
@Html.Awe().Form().FormClass("showGrid").Url(Url.Action("ShowGrid")).Success("loadDinnersGrid")
<div id="gridContainer">
</div>
@Html.Awe().Form().FormClass("DinnerRestore").Success("edit").Url(Url.Action("Restore"))
@Html.Awe().Form().Confirm(true).FormClass("DinnerConfirm").Success("del").Url(Url.Action("Delete"))

@(Html.Awe().AjaxList("Dinners")
        .CssClass("flist")
        .Parent("DinnerName", "search")
        .Parent("searchChefId", "chef")
        .Parent("searchMeals", "meals"))
      
<script type="text/javascript">
    $(function () {
        $('#btnSearch').click(function () { $('#Dinners').data('api').load(); });
    });
    
    function getMealsPageSize() {
        var w = $('[id$="Meals-awepw"]:visible .awe-ajaxlist').width();
        var mealWidth = 212;
        if (w < mealWidth) mealWidth = w - 20;
        var countPerRow = parseInt(w / mealWidth, 10);
        var rows = parseInt(10 / countPerRow, 10);
        var pageSize = Math.max(rows, 1) * countPerRow;

        return { pageSize: pageSize };
    }
</script>
