@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Mui.Stuff</h2>
<div style="margin-left: 5px;">
<p>
@Html.ActionLink(@Mui.Country, "index","country")
</p>
<p>
    @Html.ActionLink(@Mui.Chef, "index","chef")
</p>
</div>